name: Build release APK (FOSS)
on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'
    paths-ignore:
      - 'README.md'
      - 'fastlane/**'
      - 'assets/**'
      - '.github/**/*.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**'
  pull_request:
    branches: [ dev ]
    paths-ignore:
      - 'README.md'
      - 'fastlane/**'
      - 'assets/**'
      - '.github/**/*.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "zulu"
          cache: 'gradle'

      - name: Patch Discord RPC branding
        run: |
          sed -i 's/SimpMusic/HYMusic/g' core/service/kizzy/src/commonMain/kotlin/com/my/kizzy/DiscordRPC.kt
          sed -i '/Visit SimpMusic/d' core/service/kizzy/src/commonMain/kotlin/com/my/kizzy/DiscordRPC.kt
          sed -i 's/"https:\/\/github.com\/maxrave-dev\/SimpMusic"//g' core/service/kizzy/src/commonMain/kotlin/com/my/kizzy/DiscordRPC.kt

      - name: Update build product flavor
        run: |
          echo "" >> ./gradle.properties
          echo "isFullBuild=false" >> ./gradle.properties

      - name: Generate aboutLibraries.json
        run: ./gradlew exportLibraryDefinitions

      - name: Build release APK
        run: ./gradlew composeApp:assembleRelease

      - name: Check build-tools version
        shell: bash
        run: |
          BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
          echo "BUILD_TOOL_VERSION=$BUILD_TOOL_VERSION" >> $GITHUB_ENV
          echo Last build tool version is: $BUILD_TOOL_VERSION

      - uses: kevin-david/zipalign-sign-android-release@v2
        id: sign_app
        with:
          releaseDirectory: composeApp/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true
        env:
            BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: composeApp/build/outputs/apk/release/*-signed.apk
